.baner {
    margin: 0;
    width: 100%; 
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding-top: 148px;

    @media (max-width: $screen-sm) {
        height: 350px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    a {
        display: block;
        width: 50%;
        height: 50%;
        position: relative;
        overflow: hidden;

        &:hover {
            .baner__item {

                &:before {
                    mix-blend-mode: darken;
                }
            }
        }
    }

    &__item {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        @media (max-width: $screen-sm) {
            height: 350px;
        }

        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            content: '';
            z-index: 2;
            height: 100%;
            mix-blend-mode: multiply;

            @media (max-width: $screen-sm) {
                height: 30px;
            }
        }

        &--druk3d {
            background: url('../images/druk3d-bg.jpeg') top center no-repeat;

            &:before {
                background: #3173BF 0% 0% no-repeat padding-box;
            }
        }

        &--projekty3d {
            background: url('../images/projekty3d-bg.jpeg') top center no-repeat;

            &:before {
                background: #656565 0% 0% no-repeat padding-box;
            }
        }

        &--cnc {
            background: url('../images/cnc-bg.jpeg') top center no-repeat;

            &:before {
                background: #25AAAA 0% 0% no-repeat padding-box;
            }
        }

        &--maloseryjna {
            background: url('../images/maloseryjna-bg.jpeg') top center no-repeat;

            &:before {
                background: #A15BC6D9 0% 0% no-repeat padding-box;
            }
        }
    }

    &__body {
        position: absolute;
        bottom: 5%;
        right: 5%;
        color: #fff;
        z-index: 2;
        max-width: 1240px;
        width: 450px;
        height: 450px;

        @media (max-width: 576px) {
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
        }

        &--right {
            right: inherit;
            left: 5%;
        }
    }

    &__property {
        max-width: 960px;

        @media (max-width: $screen-lg) {
            margin: 0 auto;
        }
    }

    &__title {
        font-size: 3.75rem;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        z-index: 3;
        margin-bottom: 30px;
        position: relative;

        @media (max-width: $screen-sm) {
            display: none
        }

        &::before {
            position: absolute;
            bottom: 0;
            left: 5px;
            width: 70px;
            height: 5px;
            background: $color-secondary;
            content: '';
        }
    }

    &__description {
        display: block;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.875rem;

        @media (max-width: $screen-sm) {
            display: none
        }
    }

    &__button {
        background: $color-primary;
        color: $white;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 20px 120px;
        border: 0;
        margin-top: 90px;
        border: 1px transparent solid;

        &:hover {
            background: $black;
            border: 1px $white solid;
        }

        @media (max-width: $screen-lg) {
            margin: 90px auto 30px auto;
            display: block;
        }

        @media (max-width: $screen-sm) {
            margin: 30px auto;
            font-size: 1rem;
            padding: 17px 33px;
        }

    }

    &__icon {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        @media (max-width: $screen-sm) {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .search {
        background: rgba(126, 197, 41, 0.85);
        position: absolute;
        top: calc(30% + 111px);
        right: 0;
        color: #fff;
        transition: all 0.3s ease;
        z-index: 3;
        width: 117px;
        height: 111px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $screen-sm) {
            top: calc(30% + 56px);
            width: 59px;
            height: 56px;
        }

        &:hover {
            cursor: pointer;
        }

        &__icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 18px;

            @media (max-width: $screen-sm) {
                margin-top: 0;
            }

            img {
                width: 34px;
            }

            span {
                font-size: 1rem;
                font-weight: 300;
                margin-top: 9px;
                text-transform: uppercase;

                @media (max-width: $screen-sm) {
                    display: none;
                }
            }
        }
    }

    .estate {
        background: rgba(126, 197, 41, 0.85);
        position: absolute;
        top: 30%;
        right: 0;
        color: #fff;
        transition: all 0.3s ease;
        z-index: 3;
        width: 117px;
        height: 111px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $screen-sm) {
            width: 59px;
            height: 56px;
        }

        &:hover {
            cursor: pointer;
        }

        &__icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            @media (max-width: $screen-sm) {
                margin-top: 0;
            }

            img {
                width: 34px;
            }

            span {
                font-size: 1rem;
                font-weight: 300;
                margin-top: 9px;
                text-transform: uppercase;
                text-align: center;

                @media (max-width: $screen-sm) {
                    display: none;
                }
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 31px;
        left: 43px;
        display: block;
        width: 200px;
        max-width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;

        @media (max-width: $screen-sm) {
            bottom: 15px;
            left: 5px;
        }

        .slick-active {
            button {
                background: $color-primary;
            }
        }

        li {
            width: 13px;
            height: 13px;
            margin: 0 3px;

            button {
                background: #fff;
                width: 13px;
                height: 13px;
                padding: 0;

                &:before {
                    display: none;
                }
            }
        }
    }

    .slick-prev {
        top: inherit;
        left: inherit;
        right: 51px;
        bottom: 15px;
        z-index: 2;
        background: #000;
        color: #fff;
        right: 59px;
        background: url('../images/icon/prev-icon.svg') no-repeat;
        width: 34px;
        height: 34px;

        @media (max-width: $screen-sm) {
            display: none !important;
        }

        &:before {
            display: none;
        }
    }

    .slick-next {
        top: inherit;
        left: inherit;
        right: 26px;
        bottom: 15px;
        z-index: 2;
        background: #000;
        color: #fff;
        right: 20px;
        background: url('../images/icon/next-icon.svg') no-repeat;
        width: 34px;
        height: 34px;

        @media (max-width: $screen-sm) {
            display: none !important;
        }

        &:before {
            display: none;
        }
    }
}