// fonts
$font-primary: 'Montserrat', sans-serif;

// colors
$color-primary: #ED1C24;
$color-secondary: #102A4D;

//breakpoints
$screen-xs: 576px;
$screen-sm: 798px;
$screen-md: 991px;
$screen-lg: 1199px;
$screen-xl: 1440px;